// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user {
    max-width: 330px;
    padding: 5em 1em;
    margin: 0 auto;
}